body {
    font-family: Arial, sans-serif;
    background: url("https://png.pngtree.com/background/20230422/original/pngtree-abstract-blue-background-free-download-wallpaper-hd-vector-picture-image_2454990.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 20%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #555;
}

input[type="text"], input[type="password"] {
    margin: 5px 0 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 24px);  /* Subtracting padding and border width */
    box-sizing: border-box;    /* Including padding and border in width */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin: 20px 0 0;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
